<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="dbgo" connectionString="Data Source=CABU-PC\SQLEXPRESS;Initial Catalog=dbFerreteria;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CEB.Inventarios.Properties.Settings.DBInventariosConnectionString1"
      connectionString="Data Source=CABU-PC\SQLEXPRESS;Initial Catalog=dbFerreteria;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CEB.Inventarios.Properties.Settings.DBInventariosConnectionString"
      connectionString="Data Source=CABU-PC\SQLEXPRESS;Initial Catalog=dbFerreteria;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CEB.Inventarios.Properties.Settings.dbgoConnectionString"
      connectionString="Data Source=CABU-PC\SQLEXPRESS;Initial Catalog=dbFerreteria;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  <add name="dbgo" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|D:\BasesDeDatos\dbFerreteria.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CEB.Inventarios.Properties.Settings.DBInventariosConnectionString1"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|D:\Mis Documentos\visual studio 2015\Projects\ConsoleApplication1\ConsoleApplication1\dbFerreteria.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CEB.Inventarios.Properties.Settings.DBInventariosConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|D:\Mis Documentos\visual studio 2015\Projects\ConsoleApplication1\ConsoleApplication1\dbFerreteria.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CEB.Inventarios.Properties.Settings.dbgoConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|D:\Mis Documentos\visual studio 2015\Projects\ConsoleApplication1\ConsoleApplication1\dbFerreteria.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--<add key="rutaReporteFactura"  value="D:\Mis Documentos\Proyectos\ProyectoOsvaldo\CEB.Inventarios\CEB.Inventarios\rptFactura.rdlc"  /> 
  <add key="rutaImagenes"  value="D:\Mis Documentos\Proyectos\ProyectoOsvaldo\CEB.Inventarios\CabuSoft\"  />-->
    <add key="rutaReporteFactura" value="D:\Mis Documentos\Proyectos\TorneoGol\CABUSoft\CEB.Inventarios\CEB.Inventarios\rptFactura.rdlc" />
    <add key="rutaImagenes" value="D:\Mis Documentos\Proyectos\ProyectoOsvaldo\CEB.Inventarios\CabuSoft\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>